.ticker-border {
  border: 1px solid transparent;
  transition: border-color 0.1s;
}
.ticker-border-up {
  border-color: #22c55e !important;
}
.ticker-border-down {
  border-color: #ef4444 !important;
}
.ticker-border-none {
  border-color: transparent !important;
}
